body {
    font-family: Arial, sans-serif;
    background-color: #e7abab;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 300px;
    background-color: #fff;
    border: 3px solid #e7aab9;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    float: left;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
}

.container img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    color: #333;
}

p {
    color: #555;
}
